*.o
Makefile.in
Makefile
.deps
.qm
*.qm
stamp-h1
missing
configure
config.guess
config.h
config.sub
config.h.in
config.log
config.status
build-stamp
aclocal.m4
INSTALL
depcomp
*.a
install-sh

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
uninstall.cmake
install_manifest.txt

lib/
lib/gtest/

# generated manual pages
*.1

# from qucs-core/.gitignore
build-aux/ar-lib
build-aux/compile
build-aux/test-driver
build-aux/ylwrap
src/components/verilog/DLS_1ton.cpp
src/components/verilog/DLS_nto1.cpp
src/components/verilog/EKV26MOS.cpp
src/components/verilog/MESFET.cpp
src/components/verilog/andor4x2.cpp
src/components/verilog/andor4x3.cpp
src/components/verilog/andor4x4.cpp
src/components/verilog/binarytogrey4bit.cpp
src/components/verilog/comp_1bit.cpp
src/components/verilog/comp_2bit.cpp
src/components/verilog/comp_4bit.cpp
src/components/verilog/dff_SR.cpp
src/components/verilog/dmux2to4.cpp
src/components/verilog/dmux3to8.cpp
src/components/verilog/dmux4to16.cpp
src/components/verilog/fa1b.cpp
src/components/verilog/fa2b.cpp
src/components/verilog/gatedDlatch.cpp
src/components/verilog/greytobinary4bit.cpp
src/components/verilog/ha1b.cpp
src/components/verilog/hpribin4bit.cpp
src/components/verilog/jkff_SR.cpp
src/components/verilog/log_amp.cpp
src/components/verilog/logic_0.cpp
src/components/verilog/logic_1.cpp
src/components/verilog/mod_amp.cpp
src/components/verilog/mux2to1.cpp
src/components/verilog/mux4to1.cpp
src/components/verilog/mux8to1.cpp
src/components/verilog/nigbt.cpp
src/components/verilog/pad2bit.cpp
src/components/verilog/pad3bit.cpp
src/components/verilog/pad4bit.cpp
src/components/verilog/photodiode.cpp
src/components/verilog/phototransistor.cpp
src/components/verilog/potentiometer.cpp
src/components/verilog/tff_SR.cpp
src/components/verilog/vcresistor.cpp
src/converter/parse_spice.hpp
src/converter/parse_vcd.hpp
src/parse_citi.hpp
src/parse_csv.hpp
src/parse_dataset.hpp
src/parse_mdl.hpp
src/parse_netlist.hpp
src/parse_touchstone.hpp
src/parse_zvr.hpp

src/components/verilog/*.cpp
src/components/verilog/constants.vams
src/components/verilog/disciplines.vams

# qucsator generated files (in qucs-core/src)
scan_netlist.cpp
parse_netlist.cpp
scan_dataset.cpp
parse_dataset.cpp
tokens_dataset.h
tokens_netlist.h
parse_touchstone.cpp
tokens_touchstone.h
scan_touchstone.cpp
parse_citi.cpp
tokens_citi.h
scan_citi.cpp
parse_zvr.cpp
scan_zvr.cpp
tokens_zvr.h
parse_mdl.cpp
scan_mdl.cpp
tokens_mdl.h
parse_csv.cpp
tokens_csv.h
scan_csv.cpp
qucsdefs.h
gperfapphash.cpp
gperfapphash.gph
gperfappgen.h

# spice converter generated files (in qucs-core/src/converter)
parse_spice.cpp
scan_spice.cpp
tokens_spice.h
parse_vcd.cpp
scan_vcd.cpp
tokens_vcd.h

*~
